body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(255, 230, 0);
    padding: 40px;
}
main section{
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    justify-content: space-around;
    width: 30%;
    
}
section img{
    width: 100%;
}

/* Your code here */