
body{
    background-color: black;
    font-family:"IBM Plex Sans";
    font-weight: 100;
    color: white;
}
body h1{
    margin:20px 0 0 80px;
    text-decoration: none;
}
.title-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav li{
    display: inline-block;
    width: 100px;
    flex-wrap: wrap;
    text-align: center;
    font-size: large;
}
nav li a{
    color:#ffffff;
}
.orange{
    color:#F54A05;
}
.title-nav h1 a{
    text-decoration: none;
    color: #ffffff;
}
.about{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    max-width: 60%;
    align-items: right;
    margin: 150px 0 0 300px;
}
.about img{
    width: 500px;
}
.about h2{
    font-size: medium;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.about h3{
    font-size: 50px;
    margin: 5px 0 0 0;
}
button{
    background-color: #ffffff;
    color:#F54A05;
    border: none;
    border-radius: 80px;
    padding: 10px;
    align-content: center;
    width: 100px;
}
button a{
    color:#F54A05;
    text-decoration: none;
}